<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row" style="padding-bottom:20px">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <div fxLayout="row" fxLayoutGap="20px">
          <img height="32" style="padding:3px" (click)="auth.doFacebookLogin()" src="assets/img/FacebookLogin.png" />
          <img height="36" (click)="auth.doGoogleLogin()" src="assets/img/GoogleLogin.png" />
          <!--<img height="32" src="assets/img/TwitterLogin.png" />-->

        </div>
        <form [formGroup]="loginForm">
          <div class="col">
            <mat-form-field>
              Email: <input matInput formControlName="email" type="email" /><br />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              Password: <input matInput formControlName="password" type="password" /><br />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-error *ngIf="login_error">{{login_error}}</mat-error>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" style="padding-top:20px">
            <button mat-stroked-button (click)="doLogin()">Log in</button>
            <button mat-stroked-button routerLink="/register">Register new account</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
