<div>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutGap="50px">
    <div style="padding-top:7px"><mat-icon>home</mat-icon></div>

    <span class="app-title">App</span>

    <button *ngIf="isLoggedIn | async" mat-button routerLink="/dashboard">Dashboard</button>

    <span class="fill-space"></span>
    <button *ngIf="!(isLoggedIn | async)" mat-button routerLink="/login">Login</button>
    <img height="30" *ngIf="isLoggedIn | async" src="{{displayImage| async}}" />
    <span class="display-name" *ngIf="isLoggedIn | async">{{displayName| async}}</span>
    <button *ngIf="isLoggedIn | async" mat-button (click)="auth.doLogout()">Log out</button>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button *ngIf="!(isLoggedIn | async)" routerLink="/login" mat-menu-item>Login</button>
    <button *ngIf="isLoggedIn | async" mat-menu-item>My profile</button>
    <button *ngIf="isLoggedIn | async" mat-menu-item>Admin</button>
    <button *ngIf="isLoggedIn | async" (click)="auth.doLogout()" mat-menu-item>Logout</button>
  </mat-menu>
</div>
