<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>App</span>
</mat-toolbar>

<app-login *ngIf="!isLoggedIn">

</app-login>

<div style="text-align:left">

  <div *ngIf="isLoggedIn">
    Login: {{loginType}}<br />
    Hello: {{displayName}}<br />
    <img src="{{displayImage}}" style="height:30px"><br />
    <button (click)="doLogout()">Log out</button><br />
  </div>
  <div *ngIf="!isLoggedIn">
    (Any username/password will do)<br />
  </div>

  <button (click)="tryAuthorizedOnly()">Try authorized page</button><br />

  <div *ngIf="error">Result: {{error}}<br /></div>
</div>

