<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="title">Register a new account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row" style="padding-bottom:20px">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <form [formGroup]="registrationForm">
          <div class="col">
            <mat-form-field>
              Email: <input id="email" name="email" matInput formControlName="email" type="email" /><br />
            </mat-form-field>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <mat-error *ngIf="email.errors.required">Please enter a valid email address</mat-error>
              <mat-error *ngIf="email.errors.email">Please enter a valid email address</mat-error>
            </div>
          </div>
          <div class="col">
            <mat-form-field>
              Password: <input matInput formControlName="password" type="password" /><br />
            </mat-form-field>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <mat-error *ngIf="password.errors.required">Please enter a password .</mat-error>
              <mat-error *ngIf="password.errors.minlength">Password should be at least 7 characters long.</mat-error>
            </div>
          </div>
          <div class="col">
            <mat-form-field>
              Retype password: <input matInput formControlName="password2" type="password" /><br />
            </mat-form-field>
            <mat-error *ngIf="passwordDoesNotMatch">Passwords do not match! Please retype the passwords again.</mat-error>
          </div>
          <mat-error *ngIf="submitInvalid">Please fill in all the required fields.</mat-error>
          <mat-error *ngIf="serverError">{{serverError}}</mat-error>
          <div fxLayout="row" fxLayoutGap="20px" style="padding-top:20px">
            <button mat-stroked-button (click)="doRegister()">Create a new account</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
